//  Features
//
//  Features section on the home page

    .features {
        margin: space(landmark) em($base-space * -1) 0;
    }

        .features__list {
            display: flex;
            justify-content: space-between;
            align-items: top;
            flex-wrap: wrap;
        }

            .features__feature {
                width: 25%;
                padding: 0 space();

                @media only screen and (max-width: 1024px) {
                    width: 50%;
                    
                    &:first-child {
                        margin-bottom: space(double);
                    }
                }

                @media only screen and (max-width: 450px) {
                    width: 100%;
                    padding: 0 space(double);
                    margin-bottom: space(double);
                    text-align: center;
                }
            }

                .features__title {
                    margin: 0 0 space(quarter, $size-h4);
                }

                .features__icon {
                    display: block;
                    margin-bottom: space(half);
                    color: mix($color-blue, $color-white, 20);
                }
