//  Features
//
//  Features section on the home page

    .features {
        margin: space(landmark) em($base-space * -1) 0;
    }

        .features__title {
            margin: 0 0 space(mid, $size-h4);
            text-align: center;
        }

        .features__list {
            display: flex;
            justify-content: space-between;
            align-items: top;
        }

            .features__feature {
                width: 25%;
                padding: 0 space();
            }

                .features__icon {
                    display: block;
                    margin-bottom: space(half);
                    color: mix($color-blue, $color-white, 20);
                }
