//  Footer
//
//  Styles for the site footer

    .site-footer {
        padding: space() 0;
        text-align: center;
    }

    .site-footer__legal {
        margin: space(half, $size-copy-small) 0 0;
        color: mix($color-text, $color-white, 70);
    }

    .site-footer__social li {
        margin: 0 space(half);
    }