// Headings
//
// Unclassed heading elements, from 1-6
//
// Styleguide Base.Headings

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-family: $heading-font;
        font-weight: 700;
        line-height: 1.4;
        color: $color-heading;

        em {
            font-style: normal;
            // color: $color-pink;
            border-bottom: 2px solid currentColor;
        }
    }

    h1 {
        @include font-size(h1, heading);
        margin-bottom: space(threequarter, $size-h1);
    }

    h2 {
        @include font-size(h2, heading);
        margin-bottom: space(mid, $size-h2);
        // text-align: center;
    }

    h3 {
        @include font-size(h3, heading);
        margin-bottom: space(threequarter, $size-h3);
    }