// ============================================================================
//  Paragraphs
// ============================================================================

    p {
        margin: 0 0 space(threequarter);
    }

    .lede {
        @include font-size(large, copy);
        margin-bottom: space(threequarter, $size-copy-large);
    }

    small {
        @include font-size(small, copy);
    }

    strong {
        font-weight: 700;
    }

    .blockquote {
        margin: space(mid) 0;
    }

    .blockquote__content {
        display: block;
        margin-bottom: space();
        padding: space();
        background-color: $color-orange;
        border: 0;
        color: mix($color-white, $color-orange, 85);
        box-shadow: 0px 1px space() 0px rgba(0, 0, 0, 0.15);

        > *:last-child {
            margin-bottom: 0;
        }
    }

    cite {
        // @include font-size(small, copy);
        display: block;
        text-align: right;
    }